

.hamburger{
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 100;
  
}

.menu{
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* right: -100vw; */
  right: 0;
  top: 0;
  background: orange;
  z-index: 10;
  transition: all .5s;
  display: none;
}

.menu.active{
  animation:menu 1s 1 forwards
}

@keyframes menu{
  0%{
    transform: translateX(0)
  }
  30%{
    transform: translateX(-100%)
  }
  80%{
    transform: translateX(-100%)
  }
  100%{
    transform: translateX(-200%)
  }
}


span{
  display: inline-block;
  background: red;
  
  /* transform: translateY(30px); */
  /* opacity: 0; */
}

span.active{
  transform: translateY(0);
  opacity: 1;
}



.pop{
  width:100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.471);
  z-index: 1000;
  display: none;
  opacity: 0;
}

.pop .frame{
  width: 50vw;
  height: 30vw;
  background: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  
}

.pop .frame span{
  font-size: 2rem;
  background: none;
}


.pop .close{
  font-size: 2rem;
  position: absolute;
  right:-32px;
  top:-32px;
  cursor:pointer;
}